<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- <beans xmlns="http://www.springframework.org/schema/beans" -->
	<!-- xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
	<!-- xmlns:p="http://www.springframework.org/schema/p" -->
	<!-- xmlns:aop="http://www.springframework.org/schema/aop" -->
	<!-- xmlns:context="http://www.springframework.org/schema/context" -->
	<!-- xmlns:jee="http://www.springframework.org/schema/jee" -->
	<!-- xmlns:tx="http://www.springframework.org/schema/tx" -->
	<!-- xmlns:task="http://www.springframework.org/schema/task" -->
	<!-- xsi:schemaLocation="http://www.springframework.org/schema/aop -->
	<!-- http://www.springframework.org/schema/aop/spring-aop-3.2.xsd -->
	<!-- http://www.springframework.org/schema/beans -->
	<!-- http://www.springframework.org/schema/beans/spring-beans-3.2.xsd -->
	<!-- http://www.springframework.org/schema/context -->
	<!-- http://www.springframework.org/schema/context/spring-context-3.2.xsd -->
	<!-- http://www.springframework.org/schema/jee -->
	<!-- http://www.springframework.org/schema/jee/spring-jee-3.2.xsd -->
	<!-- http://www.springframework.org/schema/tx -->
	<!-- http://www.springframework.org/schema/tx/spring-tx-3.2.xsd -->
	<!-- http://www.springframework.org/schema/task -->
	<!-- http://www.springframework.org/schema/task/spring-task-3.2.xsd"> -->

	<!-- <context:component-scan base-package="com.programcreek.examples" /> -->

	<!-- <bean id="helloWorldService" class="com.wmsl.HelloWorld"> -->
	<!-- <property name="name" value="Program Creek Readers" /> -->
	<!-- </bean> -->



<!-- 	<bean id="genDataCore" scope="prototype" class="com.wmsl.core.GenDataCore"> -->
<!-- 		<property name="coreDao"> -->
<!-- 			<ref bean="coreDao" /> -->
<!-- 		</property> -->
<!-- 		<property name="genFilesUtils"> -->
<!-- 			<ref bean="genFilesUtils" /> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<!-- Core -->
	
	<!-- AYCal -->
	<bean id="ayCalMasterCore" scope="prototype" class="com.wmsl.core.inter.AYCalMasterCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="aYMasterLimit" value="${aycalmaster.limit}"/>
	</bean>
	
	<bean id="ayCalPosCore" scope="prototype" class="com.wmsl.core.inter.AYCalPosCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="aYPositionLimit" value="${aycappos.limit}"/>
	</bean>
	
	<!-- AYCap -->
	<bean id="ayCapMasterCore" scope="prototype" class="com.wmsl.core.inter.AYCapMasterCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="aYMasterLimit" value="${aycapmaster.limit}"/>
	</bean>
	
	<bean id="ayCapPosCore" scope="prototype" class="com.wmsl.core.inter.AYCapPosCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="aYPositionLimit" value="${aycappos.limit}"/>
	</bean>
	
	<!-- NonBay-Debenture -->
	<bean id="nonBayDebTxCore" scope="prototype" class="com.wmsl.core.inter.NonBayDebTxCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="nonBayDebTxLimit" value="${nonbaydebtx.limit}"/>
	</bean>
	
	<bean id="nonBayDebMasterCore" scope="prototype" class="com.wmsl.core.inter.NonBayDebMasterCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="nonBayDebMasterLimit" value="${nonbaydebmaster.limit}"/>
	</bean>
	
	
	<!-- Summary -->
	<bean id="summaryPositionEqCore" scope="prototype" class="com.wmsl.core.inter.SummaryPositionEqCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
	
	</bean>
	
	<bean id="summaryPositionDeriCore" scope="prototype" class="com.wmsl.core.inter.SummaryPositionDeriCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
	
	</bean>
	
	<bean id="summaryMasterCore" scope="prototype" class="com.wmsl.core.inter.SummaryMasterCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
	
	</bean>

	<!-- big -->
	
	<bean id="nonBayDebCore" scope="prototype" class="com.wmsl.core.NonBayDebCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
<!-- 		<property name="subBankAccountDao"> -->
<!-- 			<ref bean="subBankAccountDao" /> -->
<!-- 		</property> -->
		
		<property name="startYear" value="${nonbaydeb.start.year}"/>
		<property name="startMonth" value="${nonbaydeb.start.month}"/>
		<property name="startDay" value="${nonbaydeb.start.day}"/>
		
		<property name="stopYear" value="${nonbaydeb.stop.year}"/>
		<property name="stopMonth" value="${nonbaydeb.stop.month}"/>
		<property name="stopDay" value="${nonbaydeb.stop.day}"/>
		
		<property name="instrumentCode" value="${nonbaydeb.instrumentcode}"/>
		<property name="prefixTx" value="${nonbaydeb.prefix_tx}"/>
		<property name="dataFrom" value="${nonbaydeb.subaccount.from}"/>
		<property name="dataTo" value="${nonbaydeb.subaccount.to}"/>
		<property name="accountLimit" value="${nonbaydeb.account.limit}"/>
		<property name="subAccountLimit" value="${nonbaydeb.subaccount.limit}"/>
		<property name="outstandingLimit" value="${nonbaydeb.outstanding.limit}"/>
		<property name="executionLimit" value="${nonbaydeb.execution.limit}"/>
	</bean>
	
	<bean id="depositCore" scope="prototype" class="com.wmsl.core.DepositCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="subBankAccountDao">
			<ref bean="subBankAccountDao" />
		</property>
		
		<property name="startYear" value="${deposit.start.year}"/>
		<property name="startMonth" value="${deposit.start.month}"/>
		<property name="startDay" value="${deposit.start.day}"/>
		
		<property name="stopYear" value="${deposit.stop.year}"/>
		<property name="stopMonth" value="${deposit.stop.month}"/>
		<property name="stopDay" value="${deposit.stop.day}"/>
		
		<property name="instrumentCode" value="${deposit.instrumentcode}"/>
		<property name="prefixTx" value="${deposit.prefix_tx}"/>
		<property name="dataFrom" value="${deposit.subaccount.from}"/>
		<property name="dataTo" value="${deposit.subaccount.to}"/>
		<property name="accountLimit" value="${deposit.account.limit}"/>
		<property name="subAccountLimit" value="${deposit.subaccount.limit}"/>
		<property name="outstandingLimit" value="${deposit.outstanding.limit}"/>
		<property name="executionLimit" value="${deposit.execution.limit}"/>
	</bean>

	<bean id="fixedIncomeCore" scope="prototype" class="com.wmsl.core.FixedIncomeCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="subFixedIncomeAccountDao">
			<ref bean="subFixedIncomeAccountDao" />
		</property>
		
		<property name="startYear" value="${fixedincome.start.year}"/>
		<property name="startMonth" value="${fixedincome.start.month}"/>
		<property name="startDay" value="${fixedincome.start.day}"/>
		
		<property name="stopYear" value="${fixedincome.stop.year}"/>
		<property name="stopMonth" value="${fixedincome.stop.month}"/>
		<property name="stopDay" value="${fixedincome.stop.day}"/>
		
		<property name="instrumentCode" value="${fixedincome.instrumentcode}"/>
		<property name="prefixTx" value="${fixedincome.prefix_tx}"/>
		<property name="dataFrom" value="${fixedincome.subaccount.from}"/>
		<property name="dataTo" value="${fixedincome.subaccount.to}"/>
		<property name="accountLimit" value="${fixedincome.account.limit}"/>
		<property name="subAccountLimit" value="${fixedincome.subaccount.limit}"/>
		<property name="outstandingLimit" value="${fixedincome.outstanding.limit}"/>
		<property name="executionLimit" value="${fixedincome.execution.limit}"/>
		
	</bean>

	<bean id="unitHolderCore" scope="prototype" class="com.wmsl.core.UnitHolderCore">
		<property name="coreDao">
			<ref bean="coreDao" />
		</property>
		<property name="genFilesUtils">
			<ref bean="genFilesUtils" />
		</property>
		<property name="subUnitTrustAccountDao">
			<ref bean="subUnitTrustAccountDao" />
		</property>
		
		<property name="startYear" value="${unitholder.start.year}"/>
		<property name="startMonth" value="${unitholder.start.month}"/>
		<property name="startDay" value="${unitholder.start.day}"/>
		
		<property name="stopYear" value="${unitholder.stop.year}"/>
		<property name="stopMonth" value="${unitholder.stop.month}"/>
		<property name="stopDay" value="${unitholder.stop.day}"/>
		
		<property name="instrumentCode" value="${unitholder.instrumentcode}"/>
		<property name="prefixTx" value="${unitholder.prefix_tx}"/>
		<property name="dataFrom" value="${unitholder.subaccount.from}"/>
		<property name="dataTo" value="${unitholder.subaccount.to}"/>
		<property name="accountLimit" value="${unitholder.account.limit}"/>
		<property name="subAccountLimit" value="${unitholder.subaccount.limit}"/>
		<property name="outstandingLimit" value="${unitholder.outstanding.limit}"/>
		<property name="executionLimit" value="${unitholder.execution.limit}"/>
	</bean>
	<!-- Utils -->
	<bean id="genFilesUtils" scope="prototype" class="com.wmsl.utils.GenFilesUtils" />


	<!-- DAO -->

	<bean id="coreDao" scope="prototype" class="com.wmsl.dao.impl.CoreDao">

		<!-- <property name="sessionFactory"> -->
		<!-- <ref bean="sessionFactory" /> -->
		<!-- </property> -->
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

 

	<bean id="customerDao" scope="prototype" class="com.wealth.bwm.impl.dao.cp.CustomerDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	
	<bean id="outstandingdao" scope="prototype"
		class="com.wealth.bwm.impl.dao.cp.account.outstanding.OutstandingDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="subBankAccountDao" scope="prototype"
		class="com.wealth.bwm.impl.dao.cp.account.SubBankAccountDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="subFixedIncomeAccountDao" scope="prototype"
		class="com.wmsl.dao.impl.SubFixedIncomeAccountDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="subUnitTrustAccountDao" scope="prototype"
		class="com.wmsl.dao.impl.SubUnitTrustAccountDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

<!-- 		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" id="propertyConfigurer"> -->
<!-- 			<property name="properties" ref="props" /> -->
<!-- 		</bean> -->
		
		<bean id="props" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		  <property name="location" value="classpath:properties/config.properties"/>
		</bean>

	<!-- Properties -->
	<bean id="config" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties/database.properties</value>
				<value>classpath:properties/config.properties</value>
			</list>
		</property>
	</bean>


	<!-- DataSource -->
	<!-- <bean -->
	<!-- class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
	<!-- <property name="locations"> -->
	<!-- <value>properties/database.properties</value> -->
	<!-- <value>classpath:properties/config.properties</value> -->
	<!-- </property> -->
	<!-- </bean> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>


	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- <property name="packagesToScan"> -->
		<!-- <list> -->
		<!-- <value>annotations</value> -->
		<!-- </list> -->
		<!-- </property> -->

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<!-- <property name="current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> -->
				<!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
			</props>
		</property>

		<property name="packagesToScan">
			<list>
				<value>com.wealth.bwm.impl.entity.**.*</value>
				<value>com.wealth.bwm.impl.entitymini.**.*</value>
				<value>com.wealth.bwm.common.impl.entity.**.*</value>
				<value>com.wealth.bwm.common.impl.entitymini.**.*</value>
				<value>com.wealth.**.*</value>
				<value>com.wmsl.**.*</value>
				<!-- com.wealth.bwm.interfaces.dao.cp.account.outstanding.IOutstandingDao -->
			</list>
		</property>

	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!-- <tx:annotation-driven /> -->
	<!-- <context:component-scan base-package="com.wmsl.*" /> -->


</beans>